.content {
  background-image:linear-gradient(135deg, #4d433c, #3c3f4d);
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  color: white;
  margin: 0;
  font-size: 60px;
  font-weight: lighter;
}

.aboutMe {
  font-family: 'Dosis', sans-serif;
  /*margin-left: 10%;*/
  color: #399fbd;
  font-size: 30px;
  font-weight: lighter;
  margin-top: 0;
}
.whoWhat {
  margin-left: 10%;
  margin-right: 5%;
  width: 85%;
  border-spacing: 50px;

}
.workHeader {
  font-family: 'Dosis', sans-serif;
  color: #e26a53;
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;

}

.workCell {
  margin-top: 0;
  margin-right: 0;
  width: 40%;
  vertical-align: top;
  text-align: center;
}

.summaryCell {
  margin-top: 0;
  margin-left: 0;
  width: 40%;
  vertical-align: top;
}
.summaryHeader {
  font-family: 'Dosis', sans-serif;
  /*margin-left: 10%;*/
  color: #e26a53;
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;
}

.summary {
  color: white;
  /*margin-left: 10%;*/

  font-family: 'Karma', serif;
  font-size: 20px;
}
.welcome {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  color: white;
  margin: 0;
  font-size: 60px;
  font-weight: lighter;
}

.contactCell {
  color: white;
  height: 100px;
}

.linkedIn {
  height: 75px;
}
.github {
  height: 200px;
  text-align: center;
}
.emailImg {
  height: 100px;
  margin-left: 0;
}
.dataViz {
  height: 300px;
  margin-right: 0px;
  border-radius: 100%;
}
.graphicDes {
  height: 300px;
}
.photography {
  height: 300px;
  margin-left: 25px;
}
.activities {
  color: #399fbd;
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  font-weight: lighter;
}
html,body{
  margin:0;
  padding:0;
}

div{
  padding: 0;
  margin: 0;
}

.contactTable {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;


}
.headImage{
  width: 100%;
  vertical-align: top;
  display: block;
}
